@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --branco: #ffff;
    --preto: #0000;
    --verde:  #2fbf3c;
    --azul: #098ceb;
}

.espaco_lateral{
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

/* ----------------- Menu -------------------- */
.Logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #098ceb;
}

header{
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: 155px;
}

.bottom-header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;

    list-style-type: none;
} 

.bottom-header nav ul li a {
    color: var(--branco);
    padding: 20px 40px;
    text-decoration: none;
    font-weight: 600;
    display: block;
    transition: .2s;
}

.bottom-header nav ul li a:hover{
    background-color: #2fbf3c;
    color: rgba(0, 0, 0, 0.42);
    box-shadow: 0 0 8px #00000050;
}

.drop-hover{
    position: relative;
}

.drop-hover .drop{
    position: absolute;
    background-color: #098deb8f;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .4s;
}

.drop-hover .drop a{
    padding: 20px;
}

.drop-hover:hover .drop{
    height: 350px;
}

.buscar-box{
    width: 80px;
    height: 80px;
    background-color: var(--branco);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: .5s;
}

.buscar-box.ativar{
    width: 400px;
}

.buscar-box .lupa-buscar, .buscar-box .btn-fechar{
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buscar-box .btn-fechar i{
    font-size: 20px;
    margin-left: 15px;
    
}

.buscar-box .lupa-buscar i{
    font-size: 35px;
}

.buscar-box .input-buscar{
    position: absolute;
    left: 80px;
    width: calc(100% - 120px);
    height: 100%;
    line-height: 80px;
}

.buscar-box .input-buscar input{
    border: 0;
    outline: 0;
    font-size: 20px;
}